
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Campaign Metrics Visualization</h1>

        <div class="chart-container">
            <h3>Campaign Metrics Overview</h3>
            {{ plot_html }}
        </div>

        </div>
</body>
</html>